
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

  /* shared styles */
  .display-flex{
    display: flex;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
   
  }
  .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .dark02{
    color: #424242;
  }
  .dark03{
    color: #727272;
  }
  .brand{
    font-weight: 700;
    font-size: 2rem;
  }

  .nav-item{
    list-style: none;
    margin-right: 50px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;

  }
  .navbar, .banner{
    max-width: 1250px;
    margin: 0 auto;
  }
  .banner-content{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

  }
  .banner-title{
    font-weight: 700;
    font-size: 3rem;
  }

  .btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
  }
  .banner-img{
    width: 100%;
    margin-bottom: 30px;
  }


  main{
    max-width: 1250px;
    margin: 0 auto;
  }

  .teams{
    align-items: center;
  }
  .team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }

  main>section{
    margin-top: 130px;
  }

  .features{
    margin-left: 130px;
    max-width: 530px;
  }

  .features-title{
    font-size: 2.5rem;
    font-weight: 700;
  }
  #quick-list{
    font-weight: 500;
  }
  #feature-color{
    color: rgba(255, 144, 14, 1);
  }


  .love-enjoy{
    gap: 140px;

  }
  #love-line{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
  }

  .love-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 20px;
    
  }
  .love-card .love-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
 

}
#btn-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -80px;
}
#btn-year{
    font-size: 4rem;
    font-weight: 700;
}
/* .love-architect img{
    width: 100%;
} */
/*  some facts  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin-top: 100px;
}
  .fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .fact-num{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
  }
  .fact-descrip{
    max-width: 540px;
  }

  .sponsor-info{
    width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }
  .sponsor-company img{
    filter: grayscale(100%);
  }

  footer{
        max-width: 1250px;
        margin: 0 auto;
        margin-top: 130px;
        background-color: rgba(255, 244, 231, 1);
        padding: 10px 10px;
        text-align: center;
        border-radius: 8px;
        font-weight: 400;
 
  }



  @media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .love-enjoy{
        flex-direction: column;
    }
    .features{
        margin: 50px auto;
    }
    .sponsor-company, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
        justify-items: center;
    }
    #btn-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
  }

  @media screen and (max-width:576px) {
    .navbar, .nav-links , .teams, .love-enjoy{
        flex-direction: column;
    }
    .team-image-container, .facts-container, .sponsor-company{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .facts-container, .sponsor-company{
        justify-items: center;
        gap: 24px;
    }
    .features{
        margin-left: 10px;
    }
    #btn-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
  }
